@keyframes borderAnimation {
    0% {
      border-image-source: linear-gradient(90deg, #3b82f6, #9333ea, #ec4899);
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    }
    50% {
      border-image-source: linear-gradient(90deg, #ec4899, #9333ea, #3b82f6);
      box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    }
    100% {
      border-image-source: linear-gradient(90deg, #3b82f6, #9333ea, #ec4899);
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    }
  }
  
  .animate-border {
    border-width: 4px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #3b82f6, #9333ea, #ec4899);
    animation: borderAnimation 3s ease-in-out infinite;
  }


@keyframes letterShine {
    0% {
      background-position: 100% 50%;
      opacity: 0.5;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    }
    50% {
      opacity: 1;
      text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    }
    100% {
      background-position: 0% 50%;
      opacity: 1;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    }
  }
  
  .animate-glow {
    background: linear-gradient(90deg, #3b82f6, #9333ea, #ec4899);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: letterShine 5s ease-in-out infinite;
  }